* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.btn {
  background-color: #d00;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  border: none;
}

img {
  max-width: 100%;
}

/* Animation */
@keyframes banner-animation {
  0% {
    opacity: 0;
    transform: translate(-20px);
  }

  50% {
    opacity: 0.5;
    transform: translate(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes banner-player-animation {
  0% {
    opacity: 0;
    transform: translate(-20px);
  }

  50% {
    opacity: 0.5;
    transform: translate(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

/* header section */

.banner {
  background-color: black;
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin: 50px auto;
  animation: banner-animation 0.7s ease-out forwards;
}

.banner-left {
  color: white;
  padding-left: 70px;

}

.banner-left h2 {
  font-size: 70px;
  font-weight: 800;
  line-height: 70px;
}

.banner-left p {
  font-weight: 500;
  max-width: 540px;
  padding: 20px 0px;
}

.banner-right img {
  display: block;
  animation: banner-player-animation 1s ease-in forwards;
}

/* up coming matches */

.upcoming-matches {
  display: flex;
  padding: 50px 0px;
  gap: 20px;
}

.upcoming-matches-left {
  background-color: rgb(0, 0, 0);
  width: 25%;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
}

.upcoming-matches-left .btn:nth-child(1),
.upcoming-matches-left .btn:nth-child(2) {
  background-color: white;
  color: black;
}

.upcoming-matches-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  flex: 1;
}

.card {
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
}

.card img {
  height: 180px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card .btn {
  margin-top: 15px;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.card h2 {
  margin: 15px 0;
  font-size: 18px;
  font-weight: 600;
}

.card-bottom {
  display: flex;
  gap: 20px;
}

.card-body {
  padding: 20px;
}

/* footer section style */

footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.goal {
  font-size: 28px;
  margin-top: 100px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(88, 86, 86);
  width: 1200px;
  text-align: center;
}

.footer-options {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 40px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.footer-options a {
  text-decoration: none;
  color: rgb(181, 180, 180);
}


/* responsive style */

@media screen and (max-width: 992px) {
  .container {
    margin: 0 20px;
  }

  .banner h2 {
    font-size: 50px;
    line-height: 50px;
  }

  .upcoming-matches {
    flex-direction: column;
  }

  .upcoming-matches-left {
    flex-direction: row;
    width: 100%;
    background-color: transparent;
  }

  .upcoming-matches-left>* {
    flex: 1;
  }

  .upcoming-matches-left .btn {
    border: 1px solid rgb(232, 232, 232);
  }

  .upcoming-matches-right {
    grid-template-columns: repeat(2, 1fr);
  }

  .goal {
    border-bottom: 1px solid rgb(88, 86, 86);
    width: 600px;
  }
}


/* MOBILE RESPONSIVE  */

@media screen and (max-width: 764px) {
  .container {
    margin: 0 10px;
  }

  .banner {
    flex-direction: column;
    text-align: center;
  }

  .banner .banner-left {
    margin-bottom: 50px;
    padding-left: 0px;
    padding-top: 30px;
  }

  .banner.banner-left p {
    margin: 15px auto;
  }

  .upcoming-matches-right {
    grid-template-columns: repeat(1, 1fr);
  }

        .footer-options {
          grid-template-columns: repeat(2, 1fr);
        }
  .goal {
    border-bottom: 1px solid rgb(88, 86, 86);
    width: 300px;
  }


}